/* Reseta algumas propriedades padrão do navegador */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Define o estilo básico para o corpo da página */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4; /* Cor de fundo suave */
}

/* Estiliza o elemento main */
main {
    background-color: #fff; /* Cor de fundo branca para o formulário */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    width: 100%;
    max-width: 600px; /* Largura máxima para o formulário */
    margin: 50px;
    
}

label {
    color: rgb(100, 100, 100);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
    
input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    
}
    
input:focus {
    border-color: rgb(58, 58, 228);
    border-width: 1.5px;
    outline: none;

}

.space {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 10px 0px;  /* Margem ajustada para centralizar o input */
    width: 200px; 
    padding-left: 20px; 
    border-radius: 6px;
    height: 35px;
    border: 2px solid #cacaca; 
    transition: border-color 0.3s; 
}

.space:focus {
    border-color: #9090de; /* Cor azul claro ao clicar */
    outline: none; 
}

.font {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(91, 91, 91);
    display: flex;
    flex-direction: column; /* Alinha o label e o input verticalmente */
    align-items: flex-start; /* Mantém o alinhamento à esquerda */
    width: 200px;  /* Mantém a largura da div igual à do input */
}

.font label {
    margin-bottom: -3px; /* Coloca o label colado no input */
}

.form-container {
    display: flex;
    justify-content: flex-start; /* Alinha o formulário à esquerda */
    padding: 20px;
}


