.space {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 10px 0px;  
    width: 200px; 
    padding-left: 20px; 
    border-radius: 6px;
    height: 35px;
    border: 2px solid #cacaca; 
    transition: border-color 0.3s; 
}

.space:focus {
    border-color: #9090de; 
    outline: none; 
}

.font {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(91, 91, 91);
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 200px; 
}

.font label {
    margin-bottom: -3px; 
}

.form-container {
    display: flex;
    justify-content: flex-start; 
    padding: 20px;
}
